[user]
	name = kuzhi
	email = kuzhi.zm@alibaba-inc.com
[core]
	editor = vim
    excludesfile = /Users/zhangmin/.gitignore_global
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	cm = commit
	st = status
	df = diff
	lg = log
	lo = log --oneline
    cp = cherry-pick
    rb = rebase
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
[sendemail]
    from = Rudy Zhang <rudyflyzhang@gmail.com>
	smtpserver = smtp.gmail.com
	smtpuser = rudyflyzhang@gmail.com
	smtpserverport = 587
	smtpencryption = tls
	confirm = auto
    smtppass = xtaytxgt710220
    chainreplyto = false

#[http]
#	proxy = socks5://127.0.0.1:1080
#[https]
#	proxy = socks5://127.0.0.1:1080
[gc]
	autoDetach = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[commit]
    template = /Users/zhangmin/.stCommitMsg


[merge]
	tool = p4mergetool
[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false
[mergetool]
	keepBackup = false
	prompt = false
[diff]
	tool = p4mergetool
[difftool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
[difftool]
	prompt = false
[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
